<div class="container">

    <!-- Logo -->
    <div class="logo">
        🩺 Dra. Isi Lopez - Instituto Materno Infantil Crecer
    </div>

    <!-- Navegación -->
    <nav class="nav">
        <a routerLink="/index">Inicio</a>
        <a routerLink="/appointments">Turnos</a>

        <div class="user">
            @if (user) {
                <a class="user-link" (click)="irUsuario()">{{ user.displayName }}</a>
                <button (click)="logout()">Cerrar sesión</button>
            } @else {
                <button (click)="google()">Iniciar sesión</button>
            }
        </div>
    </nav>

</div>